
      html,
      body {
        overflow: hidden;
    background: linear-gradient( rgba(23,25,27, 0.7), rgba(23,25,27, 0.7)), url(b1.jpeg);
    font-family: 'Lato', sans-serif;
    font-size: 14px!important;
        height: 100%;
      }
      body {
        margin: 0;
      }

      .chatview-panel {
        overflow: hidden;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 562px;
        width: 510px;
        background-color: white;
    }
    .bot{
      width: 300px;
        height: 300px;
        position: relative;
        left: 56%;
        top: 74%;
        transform: translate(-50%, -50%);
    }
    .main{
      position: relative; 
      
    }
    .header {
      background-color: rgba(236, 239, 241, 1);
    box-shadow: 0 1px rgba(0, 0, 0, 0.2);
    box-sizing: content-box;
    color: #292b2c;
    font-weight: bold;
    height: 30px;
    left: -210px;
    letter-spacing: 0.5px;
    padding: 23px 8px 0px 7px;
    position: absolute;
    right: 0;
    top: -261px;
    z-index: 1;
    text-align: center;
  }
  /*Send button*/
  button.css-115fwte {
    cursor: pointer;
    display: inline-block;
    height: 48px;
    background-color: #FF8800;
}
/*Attach button*/
.css-1lzfo2b
{
  display: none;
}

.markdown.css-o3xlyv {
  background-color: #FF8800;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.css-mhj5i1.from-user.bubble {
  background-color: #f5f5f5;
  color: #222;
  border-radius: 10px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

